/* Mobile*/

@media (max-width: 677px){
 
}

/* Tablet*/
@media (min-width: 678px) and (max-width: 1439px){

}

/* Desktop*/

@media (min-width: 1440px){
  #presentacion {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
  }
}